/* Estilo de las secciones */

.Título {
    color: white;
    text-align: center;
    padding: 10px;
}

.Subtítulo {
    color: black;
    text-align: center;
    padding: 10px;
}

.quienes_somos {
    @include caja-negra;
    margin: 20px;
    text-align: center;
}