/*Estilos generales*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

@use 'variables';
@use 'header';
@use 'imagenes';
@use 'footer';
@use 'responsive';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Color a los enlaces */
nav ul a {
    color: #52e730;
}

/* Estilo y flex al header*/
header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Flex al nav*/
header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;

}

header nav ul li a {
    text-decoration: none;
}

/* Menú hamburguesa*/
nav .menu {
    display: flex;  /* Para desktop */
    gap: 20px;
}
.menu-btn {
    display: none; /* Oculto el botón en desktop */
    background: none;
    font-size: 32px;
    border: none;
    cursor: pointer;
    color: white;
}

/*Estilo a título y subtítulos*/
.Título {
    color: rgb(251, 251, 251);
    text-align: center;
    padding: 10px;
}

.Subtítulo {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

.quienes_somos {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    color: antiquewhite;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Alineación del párrafos */
p {
    text-align: center;
    padding: 30px;

}

/*Componentes*/

/*Aplico estilo a secciones*/

.Planes {
    justify-content: center;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    color: antiquewhite;
    margin: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.Rutina {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    color: antiquewhite;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


/*Adapto imagenes index*/
.contenedor-de-imagenes-index img {
    padding: 20px;
    width: 100%;
    height: auto;
    border-radius: 30px;
    
}


/*Uso de Grid*/
.contenedor-de-imagenes-index {
    display: grid;
    /* Defino 3 columnas de igual ancho */
    grid-template-columns: repeat(3, 1fr);
    /* Agrego 10px de espacio entre celdas */
    grid-gap: 10px;
}

/*Uso de Flex*/
.contenedor-de-imagenes {
    display: flex;
    flex-wrap: wrap;      /* Permite que las imágenes salten a otra línea */
    justify-content: center;
    gap: 20px;            /* Espacio entre imágenes */
    margin-top: 40px;  /* Espacio entre imagenes y el nav */
    margin-bottom: 40px;
}

/*Adapto imagenes*/
.contenedor-de-imagenes img {
    width: 100%;
    max-width: 350px;     /* Tamaño máximo de cada imagen */
    height: auto;         /* Mantiene proporciones */
    border-radius: 20px;
}

/*Achico logo encabezado*/
.Logo-encabezado img {
    width: 100px;
    height: auto;
}

/*Aplico estilo y flex a banner*/
.banner-contenido {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 30px;
}

/*Achico imagen del banner*/
.banner-contenido img {
    width: 200px;
    height: 200px;
}

/*Aplico estilo a footer*/
footer {
    text-align: center;
    padding: 20px;
}

.Subtítulo-index {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    padding: 10px;
}

/*Media queries para responsive celular a contenedor de imágenes*/
@media (max-width: 600px) {
    .contenedor-de-imagenes {
        display: block; /* de fila → columna */
        text-align: center;
    }

    .contenedor-de-imagenes img {
        width: 90%;      /* ocupar casi todo el ancho */
        margin-bottom: 20px;
    }
}

/*Media queries para responsive celular grilla de imagenes del index*/
@media (max-width: 600px) {
    .contenedor-de-imagenes-index {
        grid-template-columns: 1fr; /*1 columna*/
    }
}

/* Media queries menu hamburguesa */
/* Desktop first */
nav .menu {
    display: flex;
    gap: 20px;
}


@media (max-width: 768px) {

    /* Oculto el menú en mobile */
    nav .menu {
        display: none;
        flex-direction: column;
        gap: 15px;
        background-color: #fff;
        padding: 20px;
        position: absolute;
        top: 80px;    
        right: 20px;
        border-radius: 10px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    }

    /* Muestro el botón hamburguesa */
    .menu-btn {
        display: block;
    }

    /* Al activar el menú */
    nav .menu.open {
        display: flex;
    }
}
