/* Error: Undefined variable.
 *   ,
 * 4 |     background-color: $color-fondo-negro;
 *   |                       ^^^^^^^^^^^^^^^^^^
 *   '
 *   assets\scss\_mixins.scss 4:23     caja-negra()
 *   assets\scss\_secciones.scss 18:5  @import
 *   assets\scss\style.scss 8:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 4 \2502      background-color: $color-fondo-negro;\d\a   \2502                        ^^^^^^^^^^^^^^^^^^\a   \2575 \a   assets\\scss\\_mixins.scss 4:23     caja-negra()\a   assets\\scss\\_secciones.scss 18:5  @import\a   assets\\scss\\style.scss 8:9        root stylesheet";
}
