/* Creación de mapas para los colores (no lo usaré ya que usaré variables) */
$colores: (
    color-primario: #000,
    color-secundario: white,
);

/* Demostración de como se instacian los mapas */

/* @use '../utilities/maps'; as mapa*/

/* Demostración de uso de mapas */

/* backround-color: map.get(mapa.$colores, color-primario); */