@use '../base/variables';

@mixin caja-negra {
    background-color: variables.$color-fondo-negro;
    border-radius: variables.$radius;
    padding: 20px;
    color: variables.$color-texto-blanco;
    box-shadow: variables.$sombra;
    text-align: center;
}

/* Para animación de imagenes (aparición lenta) */
@mixin fade-in($duration: 1s, $delay: 0s) {
    opacity: 0;
    animation: fadeIn $duration ease-out $delay forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}