/*  Estilo global del sitio */
@use '../utilities/maps';
@use '../base/variables';


body {
    font-family: variables.$font-primary;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


p {
    text-align: center;
    padding: 30px;
}

.btn-custom {
    background-color: map-get(maps.$btn-style, "btn-bg");
    color: map-get(maps.$btn-style, "btn-text");
    border: none;
    padding: 0.75rem 1.2rem;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        background-color: map-get(maps.$btn-style, "btn-hover-bg");
        transform: scale(1.05);
    }
}