/*  Estilo global del sitio */
@use '../base/variables';

body {
    font-family: variables.$font-primary;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


p {
    text-align: center;
    padding: 30px;
}

.btn {
    background-color: #52e730;
    color: black;
    border-color: #52e730;
}