/* Creo las variables de los estilos que hay en común */
$color-primario: #52e730;
$color-secundario: black;
$color-fondo-negro: black;
$color-texto-blanco: antiquewhite;
$sombra: 5px 5px 10px rgba(0, 0, 0, 0.5);
$radius: 10px;
$font-primary: 'Montserrat', sans-serif;